<div class="container-fluid">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/parklands1.jpg" class="d-block w-100" style="height:500px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/parklands2.jpg" class="d-block w-100" style="height:500px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/parklands3.jpg" style="height:500px" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-flex justify-content-center text-center">
        <div>
            <div class="m-3">
                <p>Welcome to PARKLANDS, your secure, reliable parking option</p>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary">Make reservations</button>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary">Check on lots</button>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-primary">Check on calls</button>
            </div>
        </div>
    </div>
</div>