<div class="container-fluid">
    <h1 class="text-center">Parkland's Booking Form</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <form class="col-md-8">
            <div class="row g-3">
                <h3>Reservation Details</h3>
                <div class="col-md-6">
                    <input type="time" class="form-control" placeholder="Start Time">
                </div>
                <div class="col-md-6">
                    <input type="time" class="form-control" placeholder="End time">
                </div>
                <h3>Personal Details</h3>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Car Plate">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Car Plate Number">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Car Brand">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="text" maxlength="10" class="form-control" placeholder="Your Phone Number">
                </div>
                <div class="col-md-4"></div>
                <h3>Parking Location details</h3>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose the location of your parking lot</mat-label>
                        <mat-select [(ngModel)]="chosenlocation" (ngModelChange)="getOptions($event)" name="location">
                            <mat-option *ngFor="let location of locations" [value]="location['id']">{{location['name']}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Choose the location of your parking lot</mat-label>
                        <mat-select name="location">
                            <mat-option *ngFor="let parking of parkings" [value]="parking.name">{{parking.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Choose Driver Optional">
                </div>
            </div>
            <div class="m-3">
                <button type="submit" class="btn btn-warning text-white" style="text-align: centers;margin-left: 38%;">Make Reservation</button>
            </div>
        </form>
        <div class="col-md-2"></div>
    </div>
</div>