<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card" style="width: 18rem;" *ngFor="let reservation of reservations">
                <img src="{{cloudinaryUrl}}{{reservation.parking['image']}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">You have a reservation at {{reservation.parking['name']}} from {{reservation.start_time}} to {{reservation.end_time}}</h5>
                    <button class="btn btn-outline-primary">Complete Reservation</button>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>