<app-navbar></app-navbar>

<body>
    <div class="info">
        <h4>Add parking space</h4>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/src/app/statics/raban-haaijk-wftNpcjCHT4-unsplash.jpg" alt="">
                <form action="">
                    <input type="text" placeholder="Name">
                    <br>
                    <input type="text" placeholder="Location">
                    <br>
                    <input type="text" placeholder="Rows">
                    <br>
                    <input type="text" placeholder="Columns">
                    <br>
                    <input type="text" placeholder="Rows">
                    <br>
                    <input type="text" placeholder="Price">
                    <br>
                    <input type="text" placeholder="Minimum payment">
                    <br>
                    <button type="submit">Add</button>

                </form>
                <div class="card">
                    <p>hello</p>
                </div>

            </div>

        </div>
    </div>
</body>