<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <h3>Register your very own parking lot</h3>
            <form class="border shadow p-3 m-2">
                <div class="mb-2">
                    <label for="name" class="form-label">Enter the name of your location</label>
                    <input class="form-control" id="name" name="name" type="text">
                </div>
                <div class="mb-2">
                    <label for="rows" class="form-label">Enter the number of rows in your lot</label>
                    <input class="form-control" id="row" name="row" type="number">
                </div>
                <div class="mb-2">
                    <label for="column" class="form-label">Enter the number of columns in your lot</label>
                    <input class="form-control" id="column" name="column" type="number">
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Choose the location of your parking lot</mat-label>
                    <mat-select name="food">
                        <mat-option>Location</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="mb-3">
                    <label class="form-label" for="image">Enter a picture to help people identify your location</label>
                    <input class="form-control" id="image" type="file">
                </div>
                <div class="mb-2">
                    <label for="min-price" class="form-label">Enter the base price for a user using your lot</label>
                    <input class="form-control" id="min-price" name="min-price" type="number" min="0" max="1000" placeholder="maximum is 1000">
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-primary" type="submit">Register location</button>
                </div>
            </form>
        </div>
        <div class="d-none d-md-block col-md-6">
            <img class="img-fluid" src="../../assets/parklands1.jpg">
        </div>
    </div>
</div>